.custom-input {
  width: 100%;
}

.custom-input-display {
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  cursor: pointer;
  width: fit-content;
  transition: 200ms;
}

.custom-input-display:hover {
  background-color: #ddd;
}

.custom-input-edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-input-edit input {
  border: 2px solid #0079bf;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.custom-input-edit-footer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.custom-input-edit-footer input {
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  background-color: #0079bf;
  color: #fff;
  border: none;
  transition: 100ms ease;
  padding: 10px;
}
.custom-input-edit-footer button:hover {
  background-color: #046daa;
}

.custom-input-edit-footer button:active {
  transform: translateY(2px);
}

.custom-input-edit-footer .closeIcon {
  cursor: pointer;
  height: 24px;
  width: 24px;
}
.custom-input__list-title{
  margin: 4px 0;
}

.custom-input__list{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.select-user-btn{
  cursor: pointer;
  transition: all 0.3s ease;
}
.select-user-btn:hover{
  opacity: 0.8;
  background: rgba(128, 128, 128, 0.121);
}
.select-user-btn__wrapper{
  position: relative;
  max-width: 100%;
}
.select-user-btn__wrappe input{
  width: 100%;
}
.select-user-btn__wrapper svg{
  position: absolute;
  top: 25%;
  left: 10px;
}
.select-user-btn.selected{
  border: 2px solid green;
}